@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 17px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn__arrow {
  padding-left: 9px;
}

header {
  position: absolute;
  width: 100%;
  padding: 40px;
}

header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header a {
  color: white;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

header a:hover {
  color: yellow;
}

.main {
  background: url("../assets/img/waterfall.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ffffff;
  padding: 237px 557px 0px 90px;
}

.mainBtn {
  margin: 40px 0px 0px 70px;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
}

.text {
  position: absolute;
  right: 518px;
  top: 305px;
}

.PERO {
  margin-top: 20px;
  width: 723px;
  height: 85px;
}

.main__socialMedia {
  position: absolute;
  right: 100px;
  top: 300px;
}

.main__slide {
  position: absolute;
  bottom: -295px;
  right: 0px;
}

.main__slide2 {
  position: absolute;
  left: 137px;
  bottom: 82px;
}

.main__slide3 {
  margin-left: 10px;
}

.popular {
  color: white;
}

.popular__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 263px 0 90px;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.popular__subtitle {
  font-size: 12px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #282828;
}

.popular__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 500px;
  font-size: 12px;
  background-image: url(/assets/img/bridge.png);
}

.popular__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 500px;
  font-size: 12px;
  background-image: url(/assets/img/horsewoman.png);
}

.popular__box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 500px;
  font-size: 12px;
  background-image: url(/assets/img/longWaterfall.png);
}

.popular__box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 500px;
  font-size: 12px;
  background-image: url(/assets/img/church.png);
  background-repeat: no-repeat;
}

.popular__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 20px;
}

.popular__logo {
  width: 11.25px;
  height: 11.25px;
  margin-right: 5px;
}

.popular__text {
  width: 328px;
  height: 105px;
}

.popular__inside {
  padding: 211px 0px 0px 16px;
}

h4 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffc700;
}

.popularBtn {
  margin: 20px 0px 42px 6px;
  width: 160px;
  height: 40px;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: Montserrat;
}

ul {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */