@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 17px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #0499dd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__arrow {
  padding-left: 9px;
}

.btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: none;
  color: #0499dd;
  cursor: pointer;
}

header {
  position: absolute;
  width: 100%;
  padding: 40px;
}

header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

header a {
  color: white;
  -webkit-transition: color ease 1s;
  transition: color ease 1s;
}

header a:hover {
  color: yellow;
}

.main {
  background: url("../assets/img/waterfall.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ffffff;
  padding: 237px 557px 0px 90px;
}

.mainBtn {
  margin: 40px 0px 0px 70px;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 88px;
}

.text {
  position: absolute;
  right: 518px;
  top: 305px;
}

.PERO {
  margin-top: 20px;
  width: 723px;
  height: 85px;
}

.main__socialMedia {
  position: absolute;
  right: 100px;
  top: 300px;
}

.main__slide {
  position: absolute;
  bottom: -295px;
  right: 0px;
}

.main__slide2 {
  position: absolute;
  left: 137px;
  bottom: 82px;
}

.main__slide3 {
  margin-left: 10px;
}

.popular {
  color: white;
}

.popular__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 263px 0 90px;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.popular__subtitle {
  font-size: 12px;
  line-height: 15px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #282828;
}

.popular__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  margin: 0 -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 497px;
  font-size: 12px;
  border-radius: 3%;
  background-image: url(/assets/img/bridge.png);
}

.popular__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 497px;
  font-size: 12px;
  border-radius: 3%;
  background-image: url(/assets/img/horsewoman.png);
}

.popular__box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 497px;
  font-size: 12px;
  border-radius: 3%;
  background-image: url(/assets/img/longWaterfall.png);
}

.popular__box4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 125px;
  height: 497px;
  font-size: 12px;
  border-radius: 3%;
  background-image: url(/assets/img/church.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

.popular__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 20px;
}

.popular__logo {
  width: 11.25px;
  height: 11.25px;
  margin-right: 5px;
}

.popular__text {
  width: 290px;
  height: 100px;
}

.popular__inside {
  padding: 211px 0px 0px 16px;
}

h4 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffc700;
}

.popularBtn {
  margin: 20px 0px 42px 6px;
  width: 160px;
  height: 40px;
}

.about {
  margin-top: 100px;
}

.about__img {
  width: 1071px;
  height: 749px;
}

.about__box {
  position: relative;
  bottom: 630px;
  left: 748px;
  padding: 61px 0 0 85px;
  width: 450px;
  height: 400px;
  background: #EDEDED;
  border-radius: 10px;
}

.about__title {
  color: #0499DD;
  padding-bottom: 40px;
}

.about__text {
  font-size: 14px;
  width: 382px;
  height: 136px;
}

.excursions {
  margin: -200px 0px 100px 0px;
}

.excursions__title {
  font-size: 24px;
  line-height: 29px;
  color: #0499DD;
  margin-bottom: 90px;
}

.excursions__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #0499DD;
}

.excursions__text {
  width: 455px;
  height: 102px;
}

.excursions__img {
  width: 75px;
  height: 74px;
  margin-right: 20px;
}

.excursions__footer-text {
  margin: 60px 0 20px 0;
  text-align: center;
}

.excursions__btn {
  margin-left: 420px;
}

.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallary__spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 154px;
  padding-bottom: 90px;
}

.gallary__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.gallary__see {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.gallary__see:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #282828;
  cursor: pointer;
}

.gallary__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 30px;
  padding-left: 30px;
}

.gallary__pics_left-pic1 {
  padding-bottom: 20px;
}

.gallary__pics_left-pic2 {
  padding-right: 20.14px;
}

.gallary__pics_left1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallary__pics_left2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallary__pics_left3 {
  padding-top: 10px;
}

.gallary__pics_mid {
  padding-right: 30px;
  padding-left: 30px;
}

.gallary__pics_right {
  padding-left: 5px;
}

.gallary__pics_right1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallary__pics_right2 {
  padding-top: 22px;
}

.midPicture {
  width: 362px;
  height: 567px;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 740px;
  height: 322px;
  background: #EDEDED;
  border-radius: 10px;
  margin-right: 20px;
}

.reviews__wrap {
  margin: 38px 0px 38px 35px;
}

.reviews__title {
  margin: 38px 0px 20px 28px;
}

.reviews__text {
  width: 395px;
  height: 153px;
  margin-left: 28px;
}

.reviews__img2 {
  position: relative;
  top: -95px;
  right: -182px;
}

.reviews__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 740px;
  height: 322px;
  background: #EDEDED;
  border-radius: 10px;
  overflow: hidden;
}

.questions {
  margin-top: 172px;
  width: 1440px;
  height: 640px;
}

.questions__box {
  background-image: url(../img/forest.png);
  min-height: 100%;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.questions__box-inside {
  position: relative;
  top: -645px;
  right: -625px;
  width: 560px;
  height: 640px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.questions__wrap {
  padding: 132px 95px 0 105px;
}

.questions__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.questions__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFC700;
}

.questions__text {
  border-bottom: solid white 1px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding-top: 45px;
}

.questionsBtn {
  margin-top: 83px;
}

.footer {
  width: 1440px;
  height: 173px;
  background: #EDEDED;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  width: 80px;
  height: 114px;
  margin: 30px 110px 30px 160px;
}

.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list {
  margin: 53px 200px 53px 0px;
}

.footer__contact {
  text-align: center;
}

.footer__contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.footer__contact-img {
  margin-right: 10px;
}

.footer__socialMedia-icons {
  margin-left: 10px;
}

.footer__socialMedia-icon {
  margin-left: 7px;
}

body, h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

.col-4 {
  width: 33.3333333%;
  padding: 0 15px;
}

.col-2 {
  width: 20%;
  padding: 0 15px;
}

.col-6 {
  width: 50%;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */