@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn {
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 17px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #0499dd;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn__arrow {
  padding-left: 9px;
}

.btn:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: none;
  color: #0499dd;
  cursor: pointer;
}

.home__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffc700;
  padding-bottom: 10px;
  padding-top: 211px;
}

.home__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
  padding-bottom: 40px;
}

.home__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__end_favourites {
  margin-left: 15px;
}

.home__end_favourites-favorite {
  cursor: pointer;
}

.trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 77px;
}

.trip__left {
  width: 382px;
}

.trip__left_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
  margin-bottom: 40px;
}

.trip__left_subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
  line-height: 110%;
}

.trip__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 56px;
}

.trip_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 56px;
}

.triptime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.triptime__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.triptime__row_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #0499dd;
  padding: auto;
  position: relative;
  z-index: 2;
  padding: 4px 14px;
  background: white;
}

.triptime__row_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 225px 0 150px;
  row-gap: 90px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.triptime .calendarbox {
  background: #ededed;
  border-radius: 10px;
}

.triptime .calendar {
  background: #ededed;
  border-radius: 10px;
  width: 560px;
  position: relative;
  overflow: visible;
}

.triptime .calendar .triptime__pic {
  position: absolute;
  width: 825px;
  height: 877px;
  top: -270px;
  left: -780px;
  z-index: -1;
}

.calendar-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.route__left {
  max-width: 50%;
  margin-right: -10px;
}

.route__left_title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
  padding-bottom: 90px;
  padding-top: 90px;
}

.route__left_subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.route__left_subtitle-span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
  padding-left: 40px;
  padding-bottom: 40px;
}

.route__left_subtitle__ul {
  list-style-type: none;
}

.route__left_subtitle__li {
  padding-bottom: 21px;
}

.route__left_subtitle__li2 {
  padding-bottom: 40px;
}

.route__left_subtitle__li3 {
  padding-bottom: 20px;
}

.route__right {
  position: relative;
}

.route__right_navig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -50px;
  left: 0;
}

.route__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.route__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 26px;
          column-gap: 26px;
}

.expenses {
  padding-top: 150px;
}

.expenses__h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
}

.expenses__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 23px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.expenses__bottom_cringe {
  position: relative;
}

.expenses__bottom_cringe .circle {
  width: 57px;
  height: 57px;
  background: #ffc700;
  position: absolute;
  z-index: 1;
  left: -18px;
  top: -17px;
  border-radius: 50%;
}

.expenses__bottom_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 25px;
  row-gap: 5px;
  position: relative;
  z-index: 2;
  min-width: 160px;
  min-height: 100px;
}

.expenses__bottom_card span {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.expenses__bottom_card-price {
  -webkit-column-gap: 10px;
          column-gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expenses__bottom_card-price span {
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
}

.info {
  padding-top: 150px;
}

.info__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.info__span {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.info__left_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 550px;
  padding-top: 90px;
}

.info__left_passport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 40px;
  -webkit-column-gap: 28px;
          column-gap: 28px;
}

.info__left_info1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499dd;
}

.info__left_birth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 28px;
          column-gap: 28px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 45px;
}

.info__left_info2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #0499dd;
}

.info__left_info3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
  padding-top: 20px;
  width: 455px;
}

.info__left_spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 51px;
}

.info__right_span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.info__right_impor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  background: #ededed;
  border-radius: 10px;
  padding: 27px 40px 27px 40px;
}

.info__right_impor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  background: #ededed;
  border-radius: 10px;
  padding: 40px 23px 25px 27px;
}

.info__right_span2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.gallary__spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 154px;
  padding-bottom: 90px;
}

.gallary__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.gallary__see {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.gallary__see:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #282828;
  cursor: pointer;
}

.gallary__pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 30px;
  padding-left: 30px;
}

.gallary__pics_left-pic1 {
  padding-bottom: 20px;
}

.gallary__pics_left-pic2 {
  padding-right: 20.14px;
}

.gallary__pics_left1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallary__pics_left2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallary__pics_left3 {
  padding-top: 10px;
}

.gallary__pics_mid {
  padding-right: 30px;
  padding-left: 30px;
}

.gallary__pics_right {
  padding-left: 5px;
}

.gallary__pics_right1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallary__pics_right2 {
  padding-top: 22px;
}

.review {
  margin-top: 152px;
}

.review__swiper {
  overflow: hidden;
}

.review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 90px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #0499dd;
}

.review__see {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #282828;
}

.review__see:hover {
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.review__see__slide {
  background: #aca9a9;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 40px 27px 40px;
}

.review__right {
  padding-left: 28px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.review__right_img {
  position: absolute;
  top: 113px;
  right: -25px;
  bottom: 0;
}

.review__right_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
  padding-bottom: 20px;
}

.review__right_info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #282828;
}

.route__swiper {
  height: 830px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
}

.swiper-wrapper .swiper-slide {
  width: 200px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-slide {
  margin-left: 160px;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #ededed;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 45px 40px 27px 40px;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.tour {
  background: #fff;
}

.tourRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tourRow__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 282px 0 109px;
}

.tourRow__pic {
  top: -132px;
  left: -980px;
  position: absolute;
}

.tourRow__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  row-gap: 20px;
}

.tourRow__form_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.tourRow__form_btn .btn {
  padding: 16px 73px;
}

.tourRow__form_heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background: #ededed;
  -webkit-backdrop-filter: blur(1000px);
          backdrop-filter: blur(1000px);
  border-radius: 50%;
}

.tourRow__form_heart:focus svg {
  fill: #e67f7f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tourRow__form_heart:focus path {
  stroke: #e67f7f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tourRow__form_title {
  font-weight: 700;
  font-size: 24px;
  color: #0499dd;
  margin-bottom: 90px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.tourRow__form_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 360px;
  row-gap: 20px;
}

.tourRow__form_label input {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.tourRow__form_label input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.tourRow__form_label input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.tourRow__form_label input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

.tourRow__form_label input::placeholder {
  font-weight: 500;
  font-size: 14px;
  color: #282828;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.home {
  background: url(../assets/img/overview/golden_ring.png) center no-repeat;
  background-size: cover;
  height: 670px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
}
/*# sourceMappingURL=overview.css.map */