.expenses {
  padding-top: 150px;

  &__span {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #0499dd;
  }

  &__bottom {
    display: flex;
    padding-top: 90px;
    column-gap: 20px;
    img {
      &:nth-child(2n) {
        margin-right: 10px;
        max-width: 178px;
      }
    }
  }
}
