.gallary{

    &__spans {
      display: flex;
      justify-content: space-between;
      padding-top: 154px;
      padding-bottom: 90px;
    }
    &__name {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #0499dd;
    }
    &__see {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #282828;
      
      
      &:hover{
        transition: 0.5s;
        text-decoration-line: underline;
        color: #282828;
        cursor: pointer;
      }
    }
    &__pics {
      display: flex;
      justify-content: space-around;
      padding-right: 18px;
      padding-left: 18px;
      &_left{
          &-pic1{
           
              padding-bottom: 18px;
          }
          &-pic2{
              padding-right: 18.14px;
          }
      }
      &_left1 {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &_left2 {
       
        flex-direction: column;
      }
      &_left3{
          padding-top: 10px;
  
      }
      &_mid{
          
          padding-right: 18px;
          padding-left: 18px;
      }
      &_right{
        padding-left: 5px;
      }
      &_right1 {
          display: flex;
        justify-content: space-between;
      }
      &_right2{
        width: 480.48px;
        height: 280.5px;
          padding-top: 22px;
      }
    }
  }
  .midPicture{
    width: 320px;
          height: 567px;

  }
  