.route {
  &__left {
    max-width: 50%;
    &_title {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #0499dd;
      padding-bottom: 90px;
      padding-top: 210px;
    }
    &_subtitle {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #282828;

      &-span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #282828;
        padding-left: 40px;
        padding-bottom: 40px;
      }

      &__ul {
        list-style-type: none;
      }
      &__li {
        padding-bottom: 21px;
      }
      &__li2 {
        padding-bottom: 40px;
      }
      &__li3 {
        padding-bottom: 20px;
      }
    }
  }
  &__right {
    overflow: hidden;
  }
  &__content {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    column-gap: 26px;
  }
}
