.route__swiper {
  height: 830px;
  position: relative;
  display: flex;
  padding-top: 150px;
}
.swiper {
  &-wrapper {
    .swiper-slide {
      width: 413px;
    }
  }
  
}
.swiper-button-next {
  position: absolute;
  left: 70px;
  bottom: 40px;
  top: auto;
  transition: 0.5s;
  color: #d4d4d4;
  &:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #0499dd;
  }
}
.swiper-button-prev {
  position: absolute;
  left: 10px;
  bottom: 40px;
  top: auto;
  transition: 0.5s;
  color: #d4d4d4;

  &:hover {
    transition: 0.5s;
    cursor: pointer;
    color: #0499dd;
  }
}
