.triptime {
  display: flex;

  &__pic {
    margin-top: 150px;
    position: relative;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #0499dd;
    position: absolute;
    left: 957px;
    top: 150px;
    width: 323px;
    height: 29px;
    padding: auto;
  }
  .calendarbox{
    background: #EDEDED;
    border-radius: 10px;
  }
  .calendar{
      position: absolute;
      top: 270px;
      left: 720px;
      background: #EDEDED;
    border-radius: 10px;
  }

}
