.triptime {
  display: flex;
  position: relative;

  
  &__row {
    display: flex;
    width: 100%;

    &_title {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: right;
      color: #0499dd;
      padding: auto;
      position: relative;
      z-index: 2;
      padding: 4px 14px;
      background: white;
    }

    &_right {
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: 225px 0 150px;
      row-gap: 90px;
      align-items: flex-end;
    }
  }

  .calendarbox {
    background: #ededed;
    border-radius: 10px;
  }
  .calendar {
    background: #ededed;
    border-radius: 10px;
    width: 560px;
    position: relative;
    overflow: visible;
    
    .triptime__pic {
    position: absolute;
    width: 825px;
    height: 877px;
    top: -270px;
    left: -780px;
    z-index: -1;
  }
  }
}
.calendar-header{
      justify-content: center;
    }