@import '../fonts/fonts';

@import '../helpers/variables';
@import '../helpers/mixin';

@import '../components/classes';

@import '../components/home';
@import '../components/description';
@import '../components/triptime';
@import '../components/route';
@import '../components/expenses';
@import '../components/info';
@import '../components/gallary';
@import '../components/review';

@import '../components/swipe';
@import '../components/second-swiper';
@import '../components/tour';




@import '../components/adaptive';
@import '../components/footer';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
.home{
    background: url(../assets/img/overview/golden_ring.png) center no-repeat;
    background-size: cover;
    height: 670px;
}

.container{
    max-width: 1120px;
    margin: 0 auto;
    width: 100%;
}
